#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
main {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
canvas {
	width: fit-content;
	background-color: black;
	margin: 0 auto;
}
.large-preview {
	height: 2em;
}
.large-preview img {
	height: 100%;
}
.input-panel {
	display: flex;
	flex-direction: column;
}
.settings {
	display: flex;
	flex-direction: column;
}
